@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f0f0f0;
    /* light mode background color */
    color: #000000;
    /* light mode text color */
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: #444;
    /* Dark gray */
    color: #fff;
    /* Light text color for dark background */
}

/* */
/* */
/* */
/* #Margin top */
/* */
/* */

.index-margin-top {
    margin-top: 12.5%;
}

/* Add responsiveness - on screens less than 580px wide, display the margins differently */
@media screen and (max-width: 580px) {
    .index-margin-top {
        margin-top: 35%;
    }
}

/* */
/* */
/* */
/* #Cards */
/* */
/* */

.container {
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Add responsiveness - on screens less than 580px wide, display the margins differently */
@media screen and (max-width: 580px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.card {
    font-family: Arial, sans-serif;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: calc(10% - 8px);
    width: calc(25% - 8px);
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
}

.dark-mode .card {
    background-color: #333;
    /* Another dark gray */
    color: #fff;
    /* Light text color for dark background */
    border: 1px solid #000;
    box-shadow: 0 4px 6px rgba(100, 100, 100, 0.1);
}

.card img {
    flex: 1;
    max-width: 100%;
    height: 65%;
    /* Set the desired height here */
    object-fit: cover;
    /* This ensures images maintain their aspect ratio while filling the space */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #C6DBF0;
}

.card p {
    margin: 10px 0;
    padding: 15px;
    /* Optional padding for the text */
    font-weight: bold;
}

.card-text {
    font-size: 55px;
}

.card h3 {
    margin: 10px 0;
    padding: 15px;
    /* Optional padding for the text */
    font-weight: bold;
}

.card-1-3 {
    width: calc(33% - 8px);
    /* Adjusted to reduce the gap between cards */
}

.card-2 {
    width: calc(50% - 8px);
    /* Adjusted to reduce the gap between cards */
}

.card-4 {
    width: calc(100% - 8px);
    /* Adjusted to reduce the gap between cards */
}

/* Add responsiveness - on screens less than 580px wide, display the cards differently */
@media screen and (max-width: 1280px) {
    .card {
        width: calc(33.3% - 20px);
        /* Adjusted to reduce the gap between cards */
    }
}

/* Add responsiveness - on screens less than 580px wide, display the cards differently */
@media screen and (max-width: 720px) {
    .card {
        width: calc(100% - 20px);
        /* Adjusted to reduce the gap between cards */
    }
}

/* */
/* */
/* */
/* #Header */
/* */
/* */

/* Style for the header, same as before */

.header {
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    transition: color 0.3s ease;
}

.dark-mode .header {
    color: #fff;
}

/* Add responsiveness - on screens less than 580px wide, display the margins differently */
@media screen and (max-width: 580px) {
    .header {
        margin-left: 20%;
        margin-right: 20%;
    }
}

/* Style for the header content container, same as before */

.header-content {
    display: flex;
    align-items: center;
}

/* Add responsiveness - on screens less than 580px wide, display the cards differently */
@media screen and (max-width: 580px) {
    .header {
        margin-top: 20%;
        /* Adjusted to reduce the gap between cards */
    }
}

/* */
/* */
/* */
/* #Search */
/* */
/* */

/* Style for the search container within the header, same as before */

.search-container {
    display: flex;
    align-items: center;
}

/* Style for the search input field, same as before */

#search {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    font-size: 16px;
    text-align: right;
    transition: background-color 0.3s ease, border 0.3s ease;
}

/* Style for the search input placeholder text, same as before */

#search::placeholder {
    color: #999;
    transition: color 0.3s ease;
}

/* Style for the search input when focused, same as before */

#search:focus {
    outline: none;
    border-color: #3586ff;
}

.dark-mode #search {
    background-color: #333;
    border: 1px solid #333;
}

.dark-mode #search::placeholder {
    color: #fff;
}

/* */
/* */
/* */
/* #Text variationer */
/* */
/* */

.text-orbitron {
    font-family: 'Orbitron', sans-serif;
}

/* */
/* */
/* */
/* #AD CONTAINER */
/* */
/* */

.ad-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-container img {
    max-width: 100%;
    height: auto;
}

/* Add responsiveness - on screens less than 580px wide, display the margins differently */
@media screen and (max-width: 580px) {
    .ad-container {
        margin-left: 20%;
        margin-right: 20%;
    }
}

/* */
/* */
/* #DARK MODE KNAP */
/* */
/* */

/* Dark mode button styles */
#dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    padding: 10px;
    background-color: #333;
    /* Dark mode button color */
    color: #fff;
    /* Dark mode button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}

#dark-mode-toggle:hover {
    background-color: #555;
    /* Dark mode button color on hover */
}

.dark-mode #dark-mode-toggle {
    background-color: #666;
    color: #fff;
}
