@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Poppins, sans-serif;
}

/* */
/* */
/* */
/* #Margin top */
/* */
/* */

.index-margin-top {
    margin-top: 12.5%;
}

/* Add responsiveness - on screens less than 580px wide, display the margins differently */
@media screen and (max-width: 580px) {
    .index-margin-top {
        margin-top: 35%;
    }
}

/* */
/* */
/* */
/* #Cards */
/* */
/* */

.container {
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    font-family: Arial, sans-serif;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: calc(10% - 8px);
    width: calc(25% - 8px);
    /* Adjusted to reduce the gap between cards */
    margin-right: 3px;
    /* Reduced gap between cards */
    margin-left: 3px;
    /* Reduced gap between cards */
    margin-top: 7px;
    /* Reduced gap between cards */
    margin-bottom: 7px;
    /* Reduced gap between cards */
    border: 1px solid #ccc;
    /* Add the gray border */
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s;
    /* Add a smooth transition for the hover effect */
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    /* Move the card 5px up when hovered */
}

.card img {
    flex: 1;
    max-width: 100%;
    height: 65%;
    /* Set the desired height here */
    object-fit: cover;
    /* This ensures images maintain their aspect ratio while filling the space */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #C6DBF0;
}

.card p {
    margin: 10px 0;
    padding: 15px;
    /* Optional padding for the text */
    font-weight: bold;
}

.card-text {
    font-size: 55px;
}

.card h3 {
    margin: 10px 0;
    padding: 15px;
    /* Optional padding for the text */
    font-weight: bold;
}

.card-1-3 {
    width: calc(33% - 8px);
    /* Adjusted to reduce the gap between cards */
}

.card-2 {
    width: calc(50% - 8px);
    /* Adjusted to reduce the gap between cards */
}

.card-4 {
    width: calc(100% - 8px);
    /* Adjusted to reduce the gap between cards */
}

.card-blue {
    background-color: skyblue;
}

.card-red {
    background-color: indianred;
}

.card-green {
    background-color: #d6ffdb;
}

/* Add responsiveness - on screens less than 580px wide, display the cards differently */
@media screen and (max-width: 1280px) {
    .card {
        width: calc(33.3% - 20px);
        /* Adjusted to reduce the gap between cards */
    }
}

/* Add responsiveness - on screens less than 580px wide, display the cards differently */
@media screen and (max-width: 720px) {
    .card {
        width: calc(100% - 20px);
        /* Adjusted to reduce the gap between cards */
    }
}

/* */
/* */
/* */
/* #Header */
/* */
/* */

/* Style for the header, same as before */

.header {
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

/* Style for the header content container, same as before */

.header-content {
    display: flex;
    align-items: center;
}

/* Add responsiveness - on screens less than 580px wide, display the cards differently */
@media screen and (max-width: 580px) {
    .header {
        margin-top: 20%;
        /* Adjusted to reduce the gap between cards */
    }
}

/* */
/* */
/* */
/* #Search */
/* */
/* */

/* Style for the search container within the header, same as before */

.search-container {
    display: flex;
    align-items: center;
}

/* Style for the search input field, same as before */

#search {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    font-size: 16px;
    text-align: right;
}

/* Style for the search input placeholder text, same as before */

#search::placeholder {
    color: #999;
}

/* Style for the search input when focused, same as before */

#search:focus {
    outline: none;
    border-color: #3586ff;
}

/* */
/* */
/* */
/* #Text variationer */
/* */
/* */

.text-orbitron {
    font-family: 'Orbitron', sans-serif;
}

/* */
/* */
/* */
/* #AD CONTAINER */
/* */
/* */

.ad-container {
    margin-left: 20%;
    margin-right: 20%;
    align-content: center;
    align-items: center;
    align-self: center;
}
